:root{
    --primary: #798C35;
    --neutral: #485922;
    --text: #242614;
    --back: #F2F2F2;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--back);
}
header{
    color: var(--back);
    background-color: var(--text);
}
.hero{
    background-color: var(--neutral);
    color: var(--back);
}
.logo{
    color: var(--back);
    text-decoration:none;
    font-family: 'Uncial Antiqua', cursive; 
    font-size: 2em; 
}
.menu{
    padding: 10px 0px;
    align-items: center;
}
.control{
    padding: 0 5px;;
}
.control p, .control h1{

}
.image{
    width: 256px;
}
.image img{
    box-shadow: 0px 5px 10px rgba(0,0,0,1)
}